*{
    margin: 0;
    padding: 0;

}

.link a:active {
    color: black !important;
    background-color: black;

}


#titulo{
    font-family: sans-serif;    
    color: darkslategray;
    margin-left: 7%;

}

#subtitulo{
    font-family: sans-serif;
    color: teal;
    margin-left: 10%;

}

fieldset {
    border: 0;

}
body{
    background-color: aliceblue ;
    font-family: sans-serif;
    font-size: 1em;
    color:darkslategray ;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button{
border-radius: 5px;

}

.campo{
    margin-bottom: 1.5em;
}

.campo label{
    margin-bottom: 0.2em;
    color: darkslategray;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}

.grupo{
    display: flex;
}

.campo input[type="text"], .campo input [type="email"], .campo select, .campo textarea{
    padding: 00.2em;
    border: 1px solid darkslategrey;
    box-shadow: 2px 2px 2px black;
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo-opcoes input {
    margin-right: 5px;
}


.botao{
    font-size: 1.2em;
    background:darkslategray;
    border: 0;
    margin-bottom: 1em;
    color: rgb(45, 153, 35);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px black(0,0,0,0.2);
    text-shadow: 1px 1px 1px black (0,0,0,0.5);
   /*  position: absolute; */
   /*  top: 90%;
     left: 50%; */
    margin-right: -50%;
   /*  transform:translate(-50%, -50%); */
}

.botao:hover{
    background:white;
    box-shadow: inset 2px 2px 2px black(0,0,0,0.2);
    text-shadow: none;
}

#check {
    display: inline;

}

#experiencia{
    margin-top: 1.3em;
}

