

/* @media((min-width: 300px) and (max-width: 600px)) {

	body {
		background-color: yellow!important;
	} 
} */

body {
width: 100%;
}

p,small,*    {
	color: red;
	font-size:20px /*!important*/;
} 

table.table-dark tbody tr th, table.table-dark tbody tr td {
font-size:40px;	
}

.nav-item .nav-link{
color: orangered;

}
 h3   {
	color: green!important;
}