.bg-gray-custom {
		background-color: rgb(155, 155, 155);
	
	
	} 
h3   {
	color: green;
}
p,small,*    {
	color: red;
	font-size:20px /*!important*/;
} 

table.table-dark tbody tr th, table.table-dark tbody tr td {
font-size:40px;	
}

.nav-item .nav-link{
color: orangered;

}
 


	